.small_container {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
  padding-left: var(--gap-medium-small);
  padding-right: var(--gap-medium-small);

  @include large_tablet {
    padding-left: 0;
    padding-right: 0;
  }
}

.container {
  width: 100%;
  max-width: 143rem;
  margin: 0 auto;
  padding-left: var(--gap-medium-small);
  padding-right: var(--gap-medium-small);

  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
}
.large_container {
  width: 100%;
  max-width: 164rem;
  margin: 0 auto;
  padding-left: var(--gap-medium-small);
  padding-right: var(--gap-medium-small);

  @include desktop-large {
    padding-left: 0;
    padding-right: 0;
  }
}
