:root {
  // font color
  --font-color-primary: #000000;
  --font-color-white: #ffffff;
  --font-color-bright-red: #e23047;
  --font-color-grey: #cccccc;
  --font-color-dark-grey: #4d4d4d;

  //--font-color-primary: var(--mui-palette-text-primary);
  //--font-color-secondary: var(--mui-palette-text-secondary);

  // body color
  --bg_color-dark-grey: #292929;
  --bg-color-light-blue: #d1e5ed;
  --bg-color-worning: #ffffdd;

  //--bg-color-primary: var(--mui-palette-background-default);
  //--bg-color-secondary: var(--mui-palette-background-paper);

  // accent color
  --accent-color: var(--mui-palette-info-main);
  // border color
  --border-color-bright-red: #e23047;
  --border-color-second-dark-grey: #4d4d4d;
  //--border-primary: 1px solid var(--mui-palette-divider);
  // box shadow
  --box-shadow-primary: 0 3px 8px 0 var(--font-color-primary);
  // scroll
  --scrollbar-track-color: var(--bg-color-primary);
  --scrollbar-thumb-color: var(--font-color-primary);
}
