.root_layout {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;

  @include laptop {
    height: 100%;
  }

  &__header {
    display: grid;
    align-items: center;
    position: fixed;
    top: 0;
    height: var(--header-height-mobile);
    width: 100%;
    z-index: 100;
    background-color: #fff;
    border-bottom: 1px solid var(--border-color-bright-red);

    @include laptop {
      height: var(--header-height);
      position: relative;
      border-bottom: 1px solid transparent;
    }
  }

  &__inner {
    padding-bottom: 2rem;
    padding-top: calc(var(--header-height-mobile) + 2rem);

    @include laptop {
      padding-top: 0;
    }
  }

  &__footer {
    position: relative;
    width: 100%;
    z-index: 99;
    border-top: 1px solid var(--border-color-bright-red);

    @include laptop {
      height: var(--header-height);
      position: relative;
    }
  }
}
